.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}

main>form.signup {
    background-color: #F3F2F1;
    padding: 20px;
    width: max-content;
    height: auto;
    border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.tetedate {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* groupe style */

/* main>div#container>#div1 {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

main>div#container>div#left {
    border: 1px solid #aaaa;
    width: 150px;
    float: left
}

main>div#container>div#right {
    border: 1px solid #aaaa;
    width: 150px;
    float: right;
}

main>div#container {
    width: 580px;
    margin: auto;
}

p {
    font-size: 25px;
    text-align: center;
} */